.main {
    padding-top: 2.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main button {
    height: 2rem;
    border: solid 1px #ccc;
    transition: background-color .6s ease;
    background-color: var(--blue);
    color: var(--white);
    margin-bottom: .1rem;
}
.main button:hover {
    cursor: pointer;
    color: var(--blue);
    background-color: #ccc;
}