.main {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 2.5rem;
    background: var(--blue);
    color: var(--white);
    z-index: 999;
    gap: 1rem;
}
.logo {
    font-weight: bold;
}
@media (max-width: 1075px) {
    .desktop {
        display: none;
    }
}