.main {
    padding: 1rem;
    min-height: 100vh;
    display: grid;
    gap: .5rem;
    background: var(--light);
    grid-template-columns: repeat(3,1fr);
    animation: show 1s ease;
}
.report {
    display: flex;
    height: 100%;
    border: solid 1px #ccc; 
    transition: all .2s ease;
    animation: show 1s;
    background: var(--white);
}
.report:hover {
    transform: scale(1.05);
}
.report figure {
    width: 30%;
    max-width: 30% !important;
}
.report figure img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.content {
    height: 100%;
    width: 70%;
    max-width: 70% !important;
    background: var(--white);

    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.content h3 {
    font-family: var(--bold);
    font-size: 1.2rem;
    line-height: 1.35rem;
    letter-spacing: .045rem;
    color: var(--blue);
}
.genre {
    width: 100%;
    text-align: left;
    border-left: solid .4rem var(--blue);
    padding-left: .25rem;
    font-family: var(--regular);
    color: var(--blue);
}
.genre p {
    display: flex;
    align-items: flex-end;
}
.visible {
    display: flex;
}
@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media (max-width: 1075px) {
    .main {
        grid-template-columns: 1fr 1fr;
    }
    .report:hover { 
        transform: none;
    }
    .report figure {
        max-width: 35%;
    }
}
@media (max-width: 750px) {
    .main {
        padding: .2rem;
        grid-template-columns: 1fr;
    }
    
}