.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title button {
    width: 3rem;
}
.main fieldset {
    padding: 0 1rem .5rem 1rem;
    width: 100%;
}
.main input {
    width: 100%;
}
.main textarea {
    min-height: 15rem;
    width: 100%;
    resize: vertical;
}
.main fieldset:last-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}