.main {
    position: fixed;
    top: -5.55rem;
    left: 40%;
    height: 7.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    padding-bottom: .5rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    gap: .2rem;
    width: 15%;
    border: solid 1px #101010;
    color: white;
    background: black;
    transition: all .2s ease;
}
.main:hover {
    transform: translateY(5.55rem);
}
.button_sidebar {
    position: fixed;
    right: .5rem;
    top: .1rem;
    max-width: 2rem;
    max-height: 2rem;
    display: none;
}
@media (max-width: 750px) {
    .main {
        width: 100%;
        left: 0;
    }
    .button_sidebar {
        display: block;
    }
    .main:hover {
    }
}