.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    gap: 1rem;

    background: black;
}
.main button {
    width: 100%;
    height: 1.5rem;
}