.main {
    height: 100%;
    width: 100%;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    flex-direction: column;
    color: white;
}
@media (max-width: 750px) {
    .main {
        margin-top: 1rem;
    }
}